<%= form_for @student do |f|%>
	<div class="big">
		<div class="small">
			
			<div class="content"><%= f.text_field :name, placeholder:'Name'%></div>
		</div>
		<div class="small">
			<div class="content"><%= f.email_field :email, placeholder:'email@email.com'%></div>
		</div>
		<div class="small">
			<div class="content"><%= f.text_field :city, placeholder:'City'%></div>
		</div>
		<div class="small">
			<div class="content"><%= f.text_field :state%></div>
		</div>
		<div class="small">
			<div class="content"><%= f.text_area :description, placeholder:'Why WDI?'%></div>
		</div>
		<div class="small">
			<div class="content"><%= f.url_field :linked_in, placeholder: 'LinkedIn http://'%></div>
		</div>
		<div class="small">
			<div class="content"><%= f.url_field :website, placeholder: 'Personal Website http://'%></div>
		</div>
		<div class="small">
			<div class="content"><%= f.url_field :github, placeholder: 'GitHub http://'%></div>
		</div>
		<div class="small">
			<div class="content"><%= f.submit%></div>
		</div>
	</div>
<% end %>