<div class="container">
<h1>Students</h1>
<%=link_to 'new', new_student_path%><br>
	<div class="big">
	<% @students.each do |s|%>
		<div class="small">
			<div="content"><%=s.name%></div><br>
			<div="content"><%=s.email%></div><br>
			<div="content"><%=s.city%></div><br>
			<div="content"><%=s.state%></div><br>
			<div="content"><%=s.description%></div><br>
			<div="content"><%=s.linked_in%></div><br>
			<div="content"><%=s.website%></div><br>
			<div="content"><%=s.github%></div><br>
			<%=link_to 'edit', student_path(s)%>
			<%=link_to 'delete', s, method: :delete, data: {confirm:'Are you sure?'}%>
		</div>
	<%end%>
	</div>
</div>