<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <title>GA WDI 5-6</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "vendor/modernizr"%>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<div class="navbar">

	<%= link_to "HOME", static_pages_path, class: "navlink"%>
	
	<%= link_to "ALUMNI", students_path, class: "navlink" %>
	
	<a href="#wdihome" class="navlink">WDI</a>
	<a href="http://generalassemb.ly" class="navlink" target="_blank">GA</a>
	<h1 class="navlink">ABOUT</h1>

</div>

<%= yield %>
 <%= javascript_include_tag "application"%>
</div>


</body>

</html>
