<!DOCTYPE html>
<html>
<head>
<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <title>GA WDI 5-6</title>
  <%= stylesheet_link_tag    "application"%>
  <%= javascript_include_tag "vendor/modernizr"%>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="home">
<div class="navbar">

	<h1 class="navlink">HOME</h1>
	
	<%= link_to "ALUMNI", students_path, class: "navlink" %>
	
	<h1 class="navlink">WDI</h1>
	<h1 class="navlink">GA</h1>
	<h1 class="navlink">ABOUT</h1>

</div>

<%= yield %>
 <%= javascript_include_tag "application"%>
</div>
</body>
</html>
